@import url('./global.css');

main {
    background: url('../img/') no-repeat;
    background-size: cover;
}

/* header */

.header {
    position: relative;
    padding: 100px 0 300px;
    background-color: var(--primary-color);
    background: linear-gradient(45deg,
    #56125b,
    #0f0f10,
    #271e6e
    );
    background-size: 400% 400%;
    animation: gradient 10s ease infinite alternate;
}